body {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    color: #857466;
    margin: 0;
    padding: 0;
}

#main_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

#background_image {
    background: url("images/background.jpeg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    z-index: -1;
}

#lab {
    background: rgba(227, 237, 251, 0.7);
    border-radius: 15px;
    padding: 5px;
    margin: 10px 20px;
    text-align: center;
}

#githubIcon {
    width: 35px;
    height: 40px;
    margin-top: 8px;
    margin-left: 15px;
}

#container_with_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#canvas_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 25px 6px 25px;
}

#main_form {
    font-size: 22px;
    text-align: left;
    margin-top: 80px;
    margin-left: 20px;
}

#main_form .label_name {
    margin-right: 10px;
}

#choice_of_r input[type='radio'] {
    width: 16px;
    height: 16px;
    accent-color: #857466;
}

#choice_of_y input[type='checkbox'] {
    accent-color: #857466;
}

#choice_of_x,
#choice_of_y,
#choice_of_r {
    margin: 40px 0;
    position: relative;
}

#choice_of_y {
    margin-top: 20px;
    margin-bottom: 40px;
}

#x {
    width: 120px;
    height: 20px;
    padding: 10px 15px;
    border: 2px solid #857466;
    border-radius: 8px;
    background: white;
    opacity: 0.93;
    cursor: pointer;
    font-family: 'Old Standard TT', sans-serif;
    font-size: 16px;
    color: #857466;
}

#x::placeholder {
    font-size: 15px;
    color: #667785;
    font-style: italic;
    font-family: 'Old Standard TT', serif;
}

#x:focus {
    outline: none;
    border-color: #667785;
    box-shadow: 0 0 5px rgba(123, 116, 102, 0.5);
}

#y {
    font-size: 15px;
    margin: 8px 6px;
    padding: 8px 8px;
    height: 40px;
    width: 57px;
    border: 2px solid #857466;
    color: #667785;
    font-style: italic;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    font-family: 'Old Standard TT', serif;
}

#button_container button {
    padding: 4px 6px;
    margin-top: 14px;
    margin-right: 10px;
    width: 150px;
    height: 56px;
    border: 2px solid #857466;
    border-radius: 15px;
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    color: #667785;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

#button_container > button:hover {
    background-color: #E3EDFA;
}

#main_canvas {
    width: 400px;
    height: 400px;
    text-align: center;
}

#main_canvas canvas {
    background-color: #FAF0E3;
    border: 2px solid #857466;
    border-radius: 14px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.error {
    position: absolute;
    bottom: -26px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    width: 100%;
    color: #AB452B;
    font-size: 15px;
    text-align: left;
    opacity: 0;
}

#error {
    position: static;
    margin-top: 10px;
    text-align: left;
}

@keyframes fadeInAndFadeOut {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    75% {
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 0;
    }
}

.status {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 12px;
}

#hit {
    color: #C0E6B1;
}

#miss {
    color: #D14545;
}

#result_header, #history_header {
    display: inline-block;
    background-color: rgba(250, 240, 227, 0.8);
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 160px;
    margin-bottom: 15px;
    text-align: left;
    align-items: flex-start;
}

#current_result_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#left_column {
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 500px;
    align-items: flex-start;
}

table {
    width: 100%;
    max-width: 700px;
    margin: 0;
    font-size: 16px;
    text-align: center;
    border-radius: 9px;
    border-spacing: 0;
    overflow: hidden;
}

th, td {
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #857466;
    padding: 10px 20px;
}

th {
    background: #E3EDFA;
    font-weight: 600;
}

td {
    background: #FAF0E3;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr:last-child td {
    border-bottom: none;
}

tr td:last-child {
    border-right: none;
}

#navigation {
    font-size: 20px;
    text-align: left;
    margin: 15px 12px;
}

